
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0em);
    opacity: .2;
  }

  25% {
    transform: translateY(-.5em);
    opacity: .3;
  }

  100% {
    transform: translateY(.2em);
    opacity: 1;
  }
}

.jump {
  animation: jump .3s ease;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade {
  animation: fade 1s ease;
}

$circle-outer: 250px;

// main
.preload{
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
  .preload-wrap{
    // background-color: beige;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle-outer {
      width: $circle-outer;
      height: $circle-outer;
      border-radius: 50%;
      background-color: #fcb4b4;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
    .squar01 {
      width: $circle-outer * 0.52;
      height: $circle-outer * 0.52;
      background-color: blueviolet;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3rem;
      animation: turn linear 2s infinite;
      transform-origin: right bottom;
      filter: blur(15px);
    }
    
    .squar02 {
      width: $circle-outer * 1.6;
      height: $circle-outer * 0.8;
      background-color: rgb(85, 226, 160);
      position: absolute;
      left: 100%;
      top: 100%;
      border-radius: 3rem;
      animation: turn linear 4s infinite;
      transform-origin: left top;
      filter: blur(35px);
    }

    .circle {
      width: $circle-outer * 0.92;
      height: $circle-outer * 0.92;
      border-radius: 50%;
      background-color: #be4040;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6;
    
      color: #fff;
      font-size: $circle-outer * 0.128;
    }
    
  }
}


@media screen and (max-width:768px) {

  $circle-outer: 140px;

  .preload{
    .preload-wrap{
      .circle-outer {
        width: $circle-outer;
        height: $circle-outer;
      }
      .squar01 {
        width: $circle-outer * 0.52;
        height: $circle-outer * 0.52;
      }
      
      .squar02 {
        width: $circle-outer * 1.6;
        height: $circle-outer * 0.8;
      }
  
      .circle {
        width: $circle-outer * 0.92;
        height: $circle-outer * 0.92;
        font-size: $circle-outer * 0.128;
      }
      
    }
  }
}

